@import "../../../../assets/styles/variables.scss";

.container {
  display: flex;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  height: 50px;
  align-items: center;
  justify-content: center;
  border: $border-10;
  background-color: $white;
  color: $black;
  -webkit-box-shadow: $box-shadow-10;
  -moz-box-shadow: $box-shadow-10;
  box-shadow: $box-shadow-10;

  &:focus {
    outline: 0;
  }

  &:active {
    transform: scale(0.99) !important;
  }
}

.disabled {
  opacity: 0.4;
  cursor: not-allowed;

  &:active {
    transform: unset !important;
  }
}
