@import "../../assets/styles/variables.scss";

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;

  .contentWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;

    .header {
      height: 60px;
    }

    .content {
      display: flex;
      min-height: calc(100vh - 60px);
      position: relative;
      flex-direction: column;
      align-items: center;
    }
  }

  .sideMenu {
    border-left: $border-20;
    position: relative;
  }
}
