.container {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    p {
      margin-top: 15px;
      max-width: 299px;
    }
  }
}
