.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  border-bottom: 1px solid black;
  color: rgb(0, 0, 0);

  .logo {
    .title {
      font-size: 24px;
      cursor: pointer;
    }
  }

  .content {
    display: flex;
    align-items: center;

    .link {
      -webkit-box-shadow: 3px 3px 0px 2px rgba(0, 0, 0, 0.95);
      -moz-box-shadow: 3px 3px 0px 2px rgba(0, 0, 0, 0.95);
      box-shadow: 3px 3px 0px 2px rgba(0, 0, 0, 0.95);
      padding: 5px;
      border: 2px solid #000;
    }

    .login {
      margin-right: 30px;
      cursor: pointer;
    }

    .signUp {
      background-color: #000;
      color: #fff;
      cursor: pointer;
    }

    .job {
      margin-right: 20px;
      font-size: 18px;
      text-decoration: underline !important;
      cursor: pointer;
    }

    .logout {
      margin-right: 40px;
      font-size: 18px;
      text-decoration: underline !important;
      cursor: pointer;
    }

    .user {
      display: flex;
      align-items: center;

      div {
        margin-right: 10px;
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 9999px;
      }
    }
  }

  .languages {
    .lang {
      height: 30px;
      width: 30px;
    }
  }
}
