@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/modalsLayout.scss";

.container {
  @include modalsLayout;

  .modal {
    .content {
      .contentWrapper {
        display: flex;
        flex-direction: column;

        & > div {
          margin-bottom: 10px;

          span {
            &:first-child {
              font-weight: 600;
            }
          }
        }

        .keyword {
          display: flex;
          flex-direction: column;

          span {
            margin-bottom: 10px;
          }

          .tags {
            display: flex;

            .tag {
              background-color: $gray-10;
              padding: 5px;
              border: $border-30;
              width: max-content;
              margin-right: 5px;

              &:last-child {
                margin-right: 0px;
              }
            }
          }
        }

        .description {
          display: flex;
          flex-direction: column;

          span {
            margin-bottom: 10px;
          }

          .text {
            border: $border-30;
            width: 100%;
            padding: 10px;
          }
        }
      }

      .buttons {
        display: flex;
        gap: 30px;
        justify-content: center;

        button {
          &:last-child {
            background-color: $black;
            color: $white;
          }
        }
      }
    }

    .close {
      position: absolute;
      top: 5px;
      right: 5px;
      padding: 5px;
      cursor: pointer;

      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}
