@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/modalsLayout.scss";

.container {
  @include modalsLayout;

  .modal {
    form {
      display: flex;
      flex-direction: column;

      & > div {
        margin-bottom: 20px;
      }

      button {
        margin: 0px auto;
        margin-bottom: 20px;
      }
    }

    .login {
      text-align: center;

      span {
        color: $blue;
        cursor: pointer;
      }
    }

    .close {
      position: absolute;
      top: 5px;
      right: 5px;
      padding: 5px;
      cursor: pointer;

      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}
