@import "../../../assets/styles/variables.scss";

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 10px;
  border: $border-40;
  border-width: 1px 2px 1px 2px;

  &:first-child {
    border-top-width: 2px;
  }

  &:last-child {
    border-bottom-width: 2px;
  }

  .left {
    display: flex;

    .image {
      width: 10%;
      text-align: center;

      img {
        width: 30px;
      }
    }

    .leftWrapper {
      width: 90%;
      flex-direction: column;
      display: flex;

      & > div {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0px;
        }
      }

      .tags {
        display: flex;
        gap: 20px;

        .tag {
          padding: 10px;
          border: $border-30;
          background-color: $gray-10;
        }
      }
    }
  }

  .right {
    width: 100px;
    margin: 0px auto;

    button {
      width: 100% !important;
      background-color: $black;
      color: $white;
      cursor: pointer;
    }
  }
}
