.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .title {
    display: flex;
    gap: 20px;
    background-color: #ddd;
    padding: 5px 0px;
    padding-left: 30px;
    align-items: center;

    input {
      border: 2px solid black;
    }

    .select {
      width: 200px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    border: 2px solid black;
  }

  .pagination {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    padding: 5px;
  }
}
