@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/modalsLayout.scss";

.container {
  @include modalsLayout;

  .modal {
    justify-content: space-evenly;

    .content {
      text-align: center;

      span {
        margin-bottom: 20px;
        display: inline-block;
      }

      .buttons {
        justify-content: center;
        display: flex;
        gap: 30px;
      }
    }

    .close {
      position: absolute;
      top: 5px;
      right: 5px;
      padding: 5px;
      cursor: pointer;

      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}
