$black: #000;

$white: #fff;

$gray: gray;
$gray-10: #ddd;
$gray-20: #6868686f;
$gray-30: #eee;

$pink: pink;

$blue: blue;

$box-shadow-10: 3px 3px 0px 2px rgba(0, 0, 0, 0.95);

$border-10: 3px solid #000;
$border-20: 1px solid #000;
$border-30: 2px solid #000;
$border-40: solid #000;
