@import "../../../../assets/styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: calc(100vh - 60px);
  background-color: $gray-10;

  .content {
    max-width: 500px;

    h2 {
      margin-bottom: 20px;
    }
  }
}
